<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}{% endblock %}</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="{{url_for('login')}}">Login</a></li>
				<li><a href="{{url_for('register')}}">Register</a></li>
				<li><a href="/create">Create Post</a></li>
			</ul>
		</nav>
	</header>
	<body>
		{% block body %} {% endblock %}
	</body>
	<footer>
		<p>&copy;2022 Gaming Global. All rights reserved.</p>
	</footer>
</html>
