{% extends '_base.html' %} {% block title %}Communities{% endblock %}Communities{% block body %}
<div class="flex justify-center">
  <div class="flex justify-between w-3/4 border-b border-gray-200 dark:border-gray-700 pb-6 pt-6">
    <h1 class="dark:text-white">COMMUNITIES</h1>

    <!--Create communities -->
    {% if session %}
    <a class="flex items-center gap-x-2 justify-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:focus:ring-blue-800 dark:bg-violet-400 dark:text-gray-900 dark:hover:bg-violet-500"
      href="/community/form">CREATE COMMUNITY
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
        viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </svg></a>
    {% endif %}
  </div>
</div>

{% if not communities %}
<section class="flex items-center h-full p-16 dark:bg-gray-900 dark:text-gray-100">
  <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
    <svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="white"
      class="bi bi-emoji-frown-fill" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
    </svg>
    <svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
      class="bi bi-emoji-frown" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
    </svg>
    <div class="max-w-md text-center">
      <!-- SPACER -->
      <div class="mt-4 mb-8"></div>
      <p class="text-2xl font-semibold md:text-3xl">No communities found... :(</p>
    </div>
  </div>
</section>
{%endif%}

<section class="flex h-auto justify-center items-start flex-col content-start">
  {% for community in communities %}
  <!-- DISPLAYS GROUP OF CARD (COMMUNITIES )-->
  <div aria-label="group of cards" class="py-8 w-full dark:bg-gray-900">
    <div class="md:flex items-center justify-center w-full">
      <div aria-label="card 1"
        class="slide-right focus:outline-none md:w-3/4 md:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800 p-6 shadow rounded-lg">
        <div class="flex items-center border-b border-gray-200 dark:border-gray-700 pb-6">

          <!-- TOP ROW  -->
          <div class="flex items-start justify-center items-center w-full">
            <div class="flex flex-col">
              <!-- DISPLAY DELETE COMMUNITY  -->
              {% if (session) and community.account_id == session['user']['user_id']%}
              <form action="{{url_for('community.delete_community', name=community.community_name)}}" method="POST">
                <button type="submit">
                  <svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                  </svg>
                  <svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                  </svg>
              </form>

              <!-- DISPLAY EDIT COMMUNITY-->
              <form action="{{url_for('community.edit_community', name=community.community_name)}}">
                <button type="submit">
                  <svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                  </svg>
                  <svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                    class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                  </svg>
                </button>
              </form>
              {% endif %}
            </div>
            <div class="pl-3 w-full">
              <a href="{{ url_for('community.community', name=community.community_name)}}" tabindex="0"
                class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white">
                {{ community.community_name }}</a>
            </div>

            <!-- DARK HIDDEN HIDES THE CORESSPONDING SVG -->
            <a class="dark: hidden" href="{{ url_for('community.community', name=community.community_name)}}" role="img"
              aria-label="bookmark">MONKEY
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10" />
                <path d="M12 8l4 4-4 4M8 12h7" />
              </svg>
              <path
                d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z"
                stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </a>
          </div>
        </div>
        <div class="px-2">
          <p class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">{{
            community.description }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}