{% extends '_base.html' %}{% block title %}Community{% endblock %}{% block body %}
<!-- HEADER SECTION -->
<h1 class="text-center text-lg font-bold">{{community.community_name}}</h1>

<form action="{{ url_for('community.create_post', name=community.community_name)}}">
	<button action="submit">Submit</button>
</form>

{% if not posts %}
<p>Go in and make a post</p>
{% else %}

{% for post in posts|reverse %}
<section class="h-full relative dark:bg-gray-900 flex flex-col">
	<div class="slide-top p-10">
		<div class="flex flex-row bg-white p-6 rounded-lg shadow-lg">
			<!-- UPVOTE -->
			<div>
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
					viewBox="0 0 16 16">
					<path
						d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
					<path fill-rule="evenodd"
						d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
				</svg>

				<p class="text-center">0</p>
			</div>
			<a href="{{url_for('community.get_specific_post', name=community.community_name, post_id=post.post_id)}}">
			<!-- POST CONTENT (PREVIEW)-->
			<div class="ml-4">
				<span
					class="inline-block align-text-top text-base text-gray-900 dark:text-gray-800">g/{{community.community_name}}
					| Posted by {{session['user']['username'] }} {{post.date_posted}}
				</span>
				<h2 class="flex text-2xl align-top font-bold mb-2 text-gray-800">{{post.title}}</h2>
				<p class="text-gray-700">{{post.content}}</p>
			</div>
			</a>
		</div>
	</div>
</section>
{% endfor %}


{% endif %}

{% endblock %}