{% extends '_base.html' %} {% block title %}Communities{% endblock %}Communities{% block body %}
<h1 class="text-white text-5xl">Here is the Communities page. Look around or or create your own!</h1>
<!--Create communities -->
{% if session %}
<a class="flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:focus:ring-blue-800 dark:bg-violet-400 dark:text-gray-900 dark:hover:bg-violet-500 w-56"
  href="/community/form">Create your own one here!</a>
{% endif %}

<h2 class="text-white text-3xl">Communities:</h2>
{% for community in communities %}
<div aria-label="group of cards" tabindex="0" class="py-8 w-full">
  <div class="md:flex items-center justify-center w-full">
    <div tabindex="0" aria-label="card 1"
      class="slide-right focus:outline-none md:w-3/4 md:mr-7 lg:mb-0 mb-7 bg-white dark:bg-gray-800  p-6 shadow rounded-lg">
      <div class="flex items-center border-b border-gray-200 dark:border-gray-700  pb-6">
        <div class="flex items-start justify-between w-full">
          <div class="pl-3 w-full">
            <a href="{{ url_for('community.community', name=community.community_name)}}" tabindex="0"
              class="focus:outline-none text-xl font-medium leading-5 text-gray-800 dark:text-white ">
              {{ community.community_name }}</a>
          </div>
          <a href="{{ url_for('community.community', name=community.community_name)}}" role="img" aria-label="bookmark">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10" />
              <path d="M12 8l4 4-4 4M8 12h7" />
            </svg>
            <path
              d="M10.5001 4.66667H17.5001C18.1189 4.66667 18.7124 4.9125 19.15 5.35009C19.5876 5.78767 19.8334 6.38117 19.8334 7V23.3333L14.0001 19.8333L8.16675 23.3333V7C8.16675 6.38117 8.41258 5.78767 8.85017 5.35009C9.28775 4.9125 9.88124 4.66667 10.5001 4.66667Z"
              stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
        </div>
      </div>
      <div class="px-2">
        <p tabindex="0" class="focus:outline-none text-sm leading-5 py-4 text-gray-600 dark:text-gray-200 ">{{
          community.description }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}