{% extends '_base.html' %} {% block title %}Home{% endblock %} {% block body %}
<!-- HERO SECTION -->
<section class="h-full">
	<div
		class="relative overflow-hidden bg-no-repeat bg-cover"
		style="background-position: 50%; background-image: url('static/minecraft-4.avif'); height: 500px"
	>
		<div
			class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
			style="background-color: rgba(0, 0, 0, 0.75)"
		>
			<div class="flex justify-center items-center h-full">
				<div class="text-center text-white px-6 md:px-12">
					<h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
						Welcome to Gaming Global, <br /><span>Ready for an adventure?</span>
					</h1>
					{% if not session %}
					<form action="/register">
						<button
							type="submit"
							class="inline-block px-7 py-3 border-2 border-blue-400 dark:border-violet-400 text-white font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
							data-mdb-ripple="true"
							data-mdb-ripple-color="light"
						>
							Get started
						</button>
					</form>
					{% else %}
					<form action="/communities">
						<button type="submit"
							class="inline-block px-7 py-3 border-2 border-blue-400 dark:border-violet-400 text-white font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
							data-mdb-ripple="true" data-mdb-ripple-color="light">
							Get started
						</button>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- FEATURE POST SECTION USING BACKEND -->
{% for post in recent_posts %}
<section class="h-full relative dark:bg-gray-900 flex flex-col">
	<div class="slide-top p-10">
		<div class="flex flex-row bg-white p-6 rounded-lg shadow-lg bg-white dark:bg-gray-800 dark:text-white">
			{% if (session) and post.account_id == session['user']['user_id']%}
			<div>
				<!-- DELETE POST -->
				<form action="{{url_for('community.delete_post', slug=post.community_slug, post_id=post.post_id)}}"
					method="POST">
					<button type="submit">
						<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
							class="bi bi-trash-fill" viewBox="0 0 16 16">
							<path
								d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
						</svg>
						<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
							<path
								d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
						</svg>
					</button>
				</form>

				<!-- EDIT -->
				<form action="{{url_for('community.edit_post', slug=post.community_slug, post_id=post.post_id)}}">
					<button type="submit">
						<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black"
							class="bi bi-pencil-fill" viewBox="0 0 16 16">
							<path
								d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
						</svg>
						<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
							<path
								d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
						</svg>
					</button>
				</form>
			</div>
			{% endif %}
			<!--community/{{post.community_name}}/{{post.post_id}}-->
			<a href="/community/{{post.community_slug}}/{{post.post_id}}">
				<!-- POST CONTENT (PREVIEW)-->
				<div class="ml-4">
					<span
						class="inline-block align-text-top text-base text-gray-900 dark:text-white">g/{{post.community_slug}}
						| Posted by u/{{post.author}} {{post.date_posted}}
					</span>
					<h2 class="flex text-2xl align-top font-bold mb-2 text-gray-800 dark:text-white">{{post.title}}</h2>
					<p class="text-gray-700 dark:text-white">{{post.content}}</p>
				</div>
			</a>
		</div>
	</div>
	{% endfor %}
</section>
{% endblock %}
