{% extends '_base.html' %} {% block title %}Post{% endblock %}Post{% block body %}
<section class="flex h-full flex-col items-start content-start">
	<section class="w-full relative dark:bg-gray-900 flex flex-col pt-10 pb-10">
		<div class="slide-top px-10">
			<div class="flex dark:text-white flex-row bg-white p-6 rounded-lg shadow-lg bg-white dark:bg-gray-800">
				<!-- DELETE AND EDIT -->
				{% if (session) and post.account_id == session['user']['user_id']%}
				<div>
					<form action="{{url_for('community.edit_post', name=post.community_name, post_id=post.post_id)}}">
						<button type="submit">
							<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="black" class="bi bi-trash-fill" viewBox="0 0 16 16">
								<path
									d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
							</svg>
							<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
								<path
									d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
							</svg>
						</button>
					</form>
					<form action="{{url_for('community.delete_post', name=post.community_name, post_id=post.post_id)}}"
						method="POST">
						<button type="submit">
							<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="black" class="bi bi-pencil-fill" viewBox="0 0 16 16">
								<path
									d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
							</svg>
							<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
								fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
								<path
									d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
							</svg>
						</button>
					</form>
				</div>
				{% endif %}
				<!-- POST CONTENT (PREVIEW)-->
				<div class="ml-4">
					<span
						class="inline-block align-text-top text-base text-gray-900 dark:text-gray-100">g/{{community.community_name}}
						| Posted by u/{{post.author }} {{post.date_posted}}
					</span>
					<h2 class="flex text-2xl align-top font-bold mb-2">{{post.title}}</h2>
					<p class="text-gray-700 dark:text-gray-100">{{post.content}}</p>
				</div>
			</div>
		</div>
	</section>

	<div class="antialiased mx-auto w-screen px-10">
		<h3 class="mb-4 text-lg font-semibold text-gray-900 dark:text-white">Comments</h3>
		<!-- CREATE A COMMENT -->
		<div
			class="block px-6 pt-6 pb-3 rounded-lg shadow-lg bg-white w-scren h-auto bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700">
			<form
				action="{{url_for('community.create_comment', name=community.community_name, post_id = post.post_id)}}"
				method="POST" autocomplete="off">
				<div class="form-group mb-6 flex flex-col">
					<input type="text"
						class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						id="exampleInput7" name="description" placeholder="Tell us your thoughts...">
					<button type="submit"
						class="w-1/6 mt-3 justify-items-end text-white bg-blue-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-violet-400 dark:text-gray-900 dark:hover:bg-violet-500 dark:focus:ring-primary-800">Post
						Comment</button>
				</div>
			</form>
		</div>

		<!--COMMENT SECTION-->
		{% for comment in comments %}
		<!-- TEST COMMENT -->
		<div class="space-y-4 pt-6">
			<div class="flex">
				<div
					class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed dark:text-white shadow-lg bg-white w-scren h-auto bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700">
					{% if (session) and comment.account_id == session['user']['user_id']%}
					<div class="flex gap-2">
						<!--EDIT/DELETE COMMENT HERE -->
						<form
							action="{{url_for('community.delete_comment', name=post.community_id, post_id=post.post_id, comment_id=comment.comment_id)}}"
							method="POST">
							<button type="submit">
								<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="black" class="bi bi-trash-fill" viewBox="0 0 16 16">
									<path
										d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
								</svg>
								<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
									<path
										d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
								</svg>
							</button>
						</form>
						<form
							action="{{url_for('community.edit_comment', name=post.community_name, post_id=comment.post_id, comment_id=comment.comment_id)}}">
							<button type="submit">
								<svg class="dark:hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="black" class="bi bi-pencil-fill" viewBox="0 0 16 16">
									<path
										d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
								</svg>
								<svg class="dark:block hidden" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
									fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
									<path
										d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
								</svg>
							</button>
						</form>
					</div>
					{% endif %}
					<strong>u/{{comment.author}}</strong><span class="text-xs text-gray-400 dark:text-white">
						{{comment.date_posted}}</span>
					<p class="text-sm">
						{{comment.content}}
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
{% endblock %}