{% extends '_base.html' %} {% block title %}Create an account{% endblock %} {% block body %}
<section class="bg-gray-50 dark:bg-gray-900 flex h-full flex justify-center items-center">
	<div class="flex flex-col items-center justify-center mx-auto w-full pb-20">
		<a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"> Gaming Global </a>
		<div class="w-full bg-white rounded-lg shadow dark:border max-w-md dark:bg-gray-800 dark:border-gray-700">
			<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
				<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
					Create an account
				</h1>
				<form class="space-y-4 md:space-y-6" action="{{url_for('auth.register')}}" method="POST" autocomplete="off">
					<!-- USERNAME -->
					<div>
						<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username:</label>
						<input
							type="text"
							name="username"
							id="username"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="XxJohnDoexX"
							required
						/>
					</div>

					<!-- NAME -->
					<div>
						<label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name:</label>
						<input
							type="text"
							name="fullname"
							id="fullname"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="John Doe"
							required
						/>
					</div>

					<!-- EMAIL -->
					<div>
						<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
						<input
							type="email"
							name="email"
							id="email"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							placeholder="name@company.com"
							required
						/>
					</div>

					<!-- PASSWORD -->
					<div>
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							required
						/>
					</div>

					<!-- REENTER PASSWORD -->
					<div>
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
							>Re-enter Password:</label
						>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="••••••••"
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
							required
						/>
					</div>

					<!-- SUBMIT -->
					<button
						type="submit"
						class="w-full text-white bg-blue-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-violet-400 dark:text-gray-900 dark:hover:bg-violet-500 dark:focus:ring-primary-800"
					>
						Create an account
					</button>
					<p class="text-sm font-light text-gray-500 dark:text-gray-400">
						Already have an account?
						<a href="{{url_for('auth.login')}}" class="font-medium text-blue-700 hover:underline dark:text-violet-400"
							>Login here</a
						>
					</p>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
