name: Testing
on: push

jobs:
  Testing:
    name: Unit Testing
    runs-on: ubuntu-latest
    steps:
      - name: Setup Postgres
        uses: CasperWA/postgresql-action@v1.2
          with:
            postgres password: test
            postgresql db: test
            postgresql init script: schema.sql
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          CI=true POSTGRES_URI=postgresql://postgres:test@localhost:5432/test pytest
